<button class="btn-back" [routerLink]="['/']">Atras</button>

<div class="container" *ngIf="book; else loading">
  <div class="book-detail-wrapper">
    <div class="book-image">
      <img [src]="book.cover" [alt]="book.title">
      <div class="actions">
        <button class="btn-primary" [routerLink]="['/book/reader', book._id]">Empezar a leer</button>
        <button class="btn-secondary">Añadir a deseos</button>
      </div>
    </div>
    
    <div class="book-info-main">
      <nav class="breadcrumb">Libros / {{ book.authors }}</nav>
      <h1>{{ book.title }}</h1>

      <div class="rating">
        <div>
          @for(s of bookRating; track 1) {
            <mat-icon [ngClass]="{'custom-icon': true, 'custom-icon-fill': s }">star</mat-icon>
          }
        </div>
        <p>{{ book.rating }}</p>
      </div>
      
      <!-- categories -->
       <div class="category-content">
         @for(cat of book.categories; track cat) {
          <span class="category">{{cat}}</span>
         }
       </div>

      <app-tabs [tabs]="bookTabs">
        <div info>
          <p class="author">{{ book.sinopsis }}</p>
          <ul>
            <li><strong>ISBN:</strong> 978-3-16-148410-0</li>
            <li><strong>Páginas:</strong> {{ book.number_pages }}</li>
            <li><strong>Published:</strong> {{ book.publication_date }}</li>
            <li><strong>Editorial:</strong> Penguin Random House</li>
          </ul>
        </div>
        
        <div author>
          <img class="author-image" [src]="book.authors.image" [alt]="book.authors.name" >
          <p class="author"><span>{{ book.authors.name }}</span>{{ book.authors.bio }}</p>
        </div>
        
        <div tableOfContent>
          <ul>
            @for (p of book.pages; track p.title){
              <li><strong>{{ p.title }}</strong></li>
            }
          </ul>
        </div>
      </app-tabs>
      
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader">Cargando detalles del libro...</div>
</ng-template>