<button class="btn-back" [routerLink]="['/']">Atras</button>

<div class="container" *ngIf="book; else loading">
  <div class="book-detail-wrapper">
    <div class="book-image">
      <img [src]="book.images[0].url" [alt]="book.title">
      <div class="actions">
        <button class="btn-primary" [routerLink]="['/book/reader', book._id]">
          @if(isLastLocation) {
            Continuar
          }@else{ Empezar a leer }
        </button>
        <button class="btn-secondary">Añadir a deseos</button>
      </div>
    </div>
    
    <div class="book-info-main">
      <nav class="breadcrumb">Libros / @for(author of book.authors; track author.name) {
        <span>{{ author.name }}</span> }</nav>
      <h1>{{ book.title }}</h1>

      <div class="rating">
        <div>
          @for(s of bookRating; track 1) {
            <mat-icon [ngClass]="{'custom-icon': true, 'custom-icon-fill': s }">star</mat-icon>
          }
        </div>
        <p>{{ book.rating }}</p>
      </div>
      
      <!-- categories -->
       <div class="category-content">
         @for(cat of book.categories; track cat) {
          <span class="category">{{cat}}</span>
         }
       </div>

      <app-tabs [tabs]="bookTabs">
        <div info>
          <p class="author">{{ book.sinopsis }}</p>
          <ul>
            <li><strong>ISBN:</strong> {{ book._id }}</li>
            <li><strong>Páginas:</strong> {{ book.number_pages }}</li>
            <li><strong>Published:</strong> {{ book.publisher }}</li>
            <li><strong>Editorial:</strong> Penguin Random House</li>
          </ul>
        </div>
        
        <div author>
          @for(author of book.authors; track author.name) {
            <img class="author-image" [src]="book.images[1].url" [alt]="book.images[1].name" >
            <p class="author"><span>{{ author.name }}</span></p>
          }
        </div>
        
        <!-- <div tableOfContent>
          <p>Tabla de contenido</p>
          <ul>
            <li *ngFor="let i of pages;$index">{{i.label}}</li>
          </ul>
        </div> -->
      </app-tabs>
      
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader">Cargando detalles del libro...</div>
</ng-template>