/* ePUB base r1.0 epublibre */

/* -------- ESTILOS GLOBALES Y DE SECCIONES FIJAS (NO MODIFICABLES) -------- */
body { margin:1em; }
p { margin:0; text-align:justify; text-indent:1.5em; line-height:1.3em; }
a { font-style:normal; font-weight:normal; text-decoration:none; }
sup, sub { font-size:0.75em; line-height:normal; }

/* -------- CUBIERTA -------- */
.cubierta { margin:0; padding:0; border:0; font-size:0; text-align:center; text-indent:0; }
	.cubierta img { height:100%; max-height:100%; }

/* -------- SINOPSIS -------- */
.sinopsis, .sinopsis p, .sinopsis em, .sinopsis strong, .sinopsis span { margin-top:0.5em; text-indent:0; font-family:sans-serif; }

/* -------- TITULO -------- */
.tlogo, .tautor, .ttitulo, .tsubtitulo, .trevision, .tfirma { text-align:center; text-indent:0; adobe-hyphenate:none; hyphenate:none; hyphens:none; -moz-hyphens:none; -webkit-hyphens:none; }
	.tlogo span { margin:3em 0 2.5em; padding:0; border:0; display:inline-block; width:8em; }
	.tautor { margin-bottom:0.5em; font-size:1.2em; color:#595959; }
	.ttitulo { margin:0; font-size:1.8em; }
	.tsubtitulo { margin:0.3em 0 0; }
	.trevision { margin:2.5em 0 0; font-size:0.8em; color:#595959; }
	.tfirma, .tfirma strong, .tfirma code { font-size:0.8em; }
	.tfecha { color:#595959; }

/* -------- INFO -------- */
.info { margin:3.5em 1.5em; font-size:0.8em; width:90%; }
	.info p { text-align:left; text-indent:0; }

/* -------- DEDICATORIA -------- */
.dedicatoria { margin:5em 1em 1.5em; text-align:right; text-indent:0; }
	.dedicatoria p { text-align:right; text-indent:0; }

/* -------- AUTOR -------- */
.autorimg { margin:1.5em; padding:0; border:0; text-align:center; text-indent:0; display:block; height:40%; }

/* -------- NOTAS -------- */
.nota { padding-top:10%; text-indent:0; page-break-before:always; }
	.nota p { text-indent:0; }


/* -------- ESTILOS GENERALES (ADAPTABLES EN CASOS ESPECIALES) -------- */

/* encabezados */
h1, h2, h3, h4, h5, h6 { margin-top:25%; text-align:center; text-indent:0; page-break-after:avoid; page-break-inside:avoid; adobe-hyphenate:none; hyphenate:none; hyphens:none; -moz-hyphens:none; -webkit-hyphens:none; }
	h1 { font-size:1.5em; }
	h2 { font-size:1.5em; }
	h3 { font-size:1.4em; }
	h4 { font-size:1.3em; }
	h5 { font-size:1.2em; }
	h6 { font-size:1.1em; }

/* tipografía */
.sans, .sans p, .sans em, .sans strong, .sans span { font-family:sans-serif; }
.serif, .serif p, .serif em, .serif strong, .serif span { font-family:serif; }
.mono, .mono p, .mono em, .mono strong, .mono span { font-family:monospace; }

.cursiva, em { font-style:italic; }
.negrita, strong { font-weight:bold; }
.subrayado, ins { text-decoration:underline; }
.tachado, del { text-decoration:line-through; }
.oculto { display:none; visibility:hidden; }
.normal { font-style:normal; font-weight:normal; text-decoration:none; }

.versalita { font-size:0.8em; } /* para texto en mayúsculas, de tamaño similar al de las minúsculas */

/* alineación */
.izquierda, .izquierda p { text-align:left; }
.derecha, .derecha p { text-align:right; text-indent:0; }
.centrado, .centrado p { text-align:center; text-indent:0; }
.justificado, .justificado p { text-align:justify; }
.asangre, .asangre p { text-indent:0; }

/* saltos */
.sintop { margin-top:0; }
.saltoinicio { margin-top:33%; }
.salto05 { padding-top:0.5em; }
.salto10 { padding-top:1em; }
.salto25 { padding-top:2.5em; }

/* bloques */
.sinmargen { margin:0; }
.cita { margin:1.5em; }
.bloque { page-break-inside:avoid; } /* en algunos lectores, evita dividir un elemento entre dos páginas */
.extenso { orphans:0; widows:0; } /* evita la división aleatoria de párrafos muy extensos */
.banner { margin:1.5em 12%; padding:0.5em 1em; text-align:center; text-indent:0; border:2px solid black; border-left:none; border-right:none; }
	.banner p { text-align:center; text-indent:0; }

/* listas */
li { margin:0; text-align:justify; line-height:1.3em; }

/* imágenes simples */ /* para láminas a página completa, usar el estilo fijo ‘cubierta’ */
.ilustra { margin:1em 0; padding:0; border:0; text-align:center; text-indent:0; display:block; }
	.ilustra img { max-height:100%; max-width:100%; }


/* -------- ESTILOS PERSONALES -------- */
.dropcap {
		font-weight: bolder;
		font-size: xx-large;
		color: #660000;
		line-height: 0em;	
		text-align: left;	
		margin: 0em;	
		padding: 0.5em 0em 0em 0em;	
}

.separador { text-align: center; font-size:1.2em; padding-bottom:1em; padding-top:1em; }


  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }
  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }
  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
