body {
    margin: 0;
    font-family: 'Euclid Circular A';
    color: #1d1d1d;
    background: #c4d0c4;
}

/* saltos */
.saltoinicio { margin-top:33%; }
.salto25 { padding-top:2.5em; }
.salto10 { padding-top:1em; }

p, h2 {
    position: relative;
    z-index: 1;
    margin: 20px 15px;
}

section { padding: 40px 0;}

.image {
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url("https://vrestrepo.com/wp-content/uploads/2024/06/VRestrepo_dawn_01-1024x683.jpg");
}

.text {
    background: #fff;
    position: relative;
    padding: 5% 25%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250%;
    height: auto;
    background: #e0e0e0;
    rotate: -3deg;
    translate: -50%, -50%;
}

.title {
    text-align: left;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    text-transform: uppercase;
}
