body {
    margin: 0;
    font-family: 'Euclid Circular A';
    color: #1d1d1d;
    background: #c4d0c4;
}

p, h2 {
    position: relative;
    z-index: 1;
    margin: 20px 15px;
}

section { padding: 40px 0;}

.image {
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url("https://vrestrepo.com/wp-content/uploads/2024/06/VRestrepo_dawn_01-1024x683.jpg");
}

.text {
    background: #fff;
    position: relative;
    padding: 10% 25%;
    align-items: center;
}

.text::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250%;
    height: auto;
    background: #ffff;
    rotate: -3deg;
    translate: -50%, -50%;
}
