.reader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f1ea; /* Color tipo papel sepia */
  color: #2c3e50;
  font-family: 'Georgia', serif;
}

.reader-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.05);
  margin-bottom: 3px;
}

.page-title{
  font-style: oblique;
  font-size: 1.5;
  font-weight: lighter;
  text-transform: capitalize;
  margin-bottom: 2px;
}

.page-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
  margin-top: 15px;
}

.page-content-text {
  margin-top: 5px;
  text-align: justify;

}

.text-wrapper {
  max-width: 700px;
  font-size: 1.25rem;
  line-height: 1.8;
  text-align: justify;
  animation: pageTurn 0.5s ease-out;
}

.reader-footer {
  padding: 20px;
  background: #fff;
}

.progress-bar {
  height: 4px;
  background: #ddd;
  width: 100%;
  margin-bottom: 15px;
}

.progress-fill {
  height: 100%;
  background: #3498db;
  transition: width 0.3s ease;
}

.nav-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@keyframes pageTurn {
  from { opacity: 0; transform: translateX(20px); }
  to { opacity: 1; transform: translateX(0); }
}