<!-- <section class="image" style="background-image: url({{book.wallpapers[0]}});"></section> -->
<section class="text">
    <h2 class="title">{{book.titulo}}</h2>
</section>

@for(page of pages; track page.titulo) {
    @if (page.titulo != "cubierta") {
        <!-- @if (book.wallpapers.length > 0) {
            <section class="image" style="background-image: url({{book.wallpapers[0]}});"></section>
        } -->
        <section class="text">
            <app-page [url]='book.slug+"/"+page.url'></app-page>
        </section>
    }
}
